<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="平賀ハウス">
	<meta name="viewport" content="width=device-width">
	<title>平賀ハウス｜Top</title>
	<link rel="stylesheet" media="all" href="/layout/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="/layout/js/script.js"></script>
</head>

<body id="top">
	<div id="wrapper">

		<div id="sidebar">
			<div id="sidebarWrap">
				<h1><img src="/layout/images/logo.png" width="87" height="25" alt="logo"></h1>
				<nav id="mainnav">
					<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
					<div class="panel">
						<ul>
							<li><a href="#top">TOP</a></li>
							<li><a href="#sec01">CONCEPT / コンセプト</a></li>
							<li><a href="#sec02">EQUIPMENT / 設備</a></li>
							<li><a href="#sec03">GALLERY / 画像</a></li>
							<li><a href="#sec04">ROOM / 部屋・料金</a></li>
							<li><a href="#sec05">CONTACT / 相談・申し込み</a></li>
							<li><a href="#sec06">LOCATION / 場所</a></li>
						</ul>
						<ul id="sns">
							<li><a href="#" target="_blank"><img src="/layout/images/iconFb.png" width="20" height="20" alt="FB"></a></li>
							<li><a href="#" target="_blank"><img src="/layout/images/iconTw.png" width="20" height="20" alt="twitter"></a></li>
							<li><a href="#" target="_blank"><img src="/layout/images/iconInsta.png" width="20" height="20" alt="Instagram"></a></li>
							<li><a href="#" target="_blank"><img src="/layout/images/iconYouTube.png" width="20" height="20" alt="You Tube"></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<div id="content">
			<p id="mainImg"><img src="/layout/images/mainImg.jpg" alt=""></p>
			<!-- CONCEPT -->
			<section id="sec01">
				<header>
					<h2><span>CONCEPT</span></h2>
				</header>
				<div class="innerS">
					<h4>安く、快適に。</h4>
					<p>平賀ハウスでは地域最安値で部屋を提供するシェアハウスです。</p>
					<p>徒歩5分での順天堂大学へアクセスが可能であり、日々の通勤/通学時間を大幅に短縮が可能です。</p>
					<p>また、他のシェアハウスには無い原付の無料貸し出しなども行なっており、京成酒々井駅までのアクセスも5分以内のロケーションとなっています。</p>
					<p>生活のランニングコストを下げ、尚且つ買い物や日常生活を快適に過ごして頂くことを平賀ハウスでは目指しています。</p>
				</div>
			</section>
			<!-- // CONCEPT -->
			<!-- SERVICE -->
			<section id="sec02">
				<header>
					<h2><span>SERVICE</span></h2>
				</header>
				設備一覧
				<ul id="equipment">
					<li><img src="/layout/images/equipment/Wi-Fi_128.png" width="128" height="128" alt="原付"><p>全室個別冷蔵庫あり全室個別冷蔵庫あり</p></li>
					<li><img src="/layout/images/equipment/Wi-Fi_128.png" width="128" height="128" alt="原付"><p>原付無料貸し出し</p></li>
					<li><img src="/layout/images/equipment/Wi-Fi_128.png" width="128" height="128" alt="原付"><p>全室個別冷蔵庫あり</p></li>
					<li><img src="/layout/images/equipment/Wi-Fi_128.png" width="128" height="128" alt="原付"><p>全室個別冷蔵庫あり</p></li>

				</ul>

			</section>
			<!-- // SERVICE -->
			<!-- GALLERY -->
			<section id="sec03">
				<header>
					<h2><span>GALLERY</span></h2>
				</header>
				<ul id="gallery">
					<li><img src="/layout/images/photo01.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo02.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo03.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo04.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo05.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo06.jpg" width="360" height="350" alt=""></li>
					<li class="full"><img src="/layout/images/photo07.jpg" width="1080" height="695" alt=""></li>
					<li><img src="/layout/images/photo08.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo09.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo10.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo11.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo12.jpg" width="360" height="350" alt=""></li>
					<li><img src="/layout/images/photo13.jpg" width="360" height="350" alt=""></li>
				</ul>
			</section>
			<!-- // GALLERY -->
			<!-- BRAND -->
			<section id="sec04">
				<header>
					<h2><span>BRAND</span></h2>
				</header>
				<div class="inner">
					<ul class="col4">
						<li>
							<p class="img"><img src="/layout/images/logo01.png" width="168" height="168" alt=""></p>
							<p>ホームページサンプル株式会社では最動かす企業を目指します。</p>
						</li>
						<li>
							<p class="img"><img src="/layout/images/logo02.png" width="168" height="168" alt=""></p>
							<p>革新的な技術で世の中を動かす企業を目します。世の中を動かす。</p>
						</li>
						<li>
							<p class="img"><img src="/layout/images/logo03.png" width="168" height="168" alt=""></p>
							<p>株式会社では最動かす企業を目指しますージン企業を目指します。</p>
						</li>
						<li>
							<p class="img"><img src="/layout/images/logo04.png" width="168" height="168" alt=""></p>
							<p>株式会社では最動かす企業を指しますージサン企業を目指します。</p>
						</li>
					</ul>
				</div>
			</section>
			<!-- // BRAND -->
			<!-- PROJECT -->
			<section id="sec05">
				<header>
					<h2><span>PROJECT</span></h2>
				</header>
				<div class="inner">
					<div class="article">
						<img src="/layout/images/photo14.jpg" width="370" height="224" alt="">
						<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な革新的な革新的な技術で世の中を技術で世の中を技術で世の中を動かす企業を目指します。</p>
						<p>ホームページサンプル株式会社。ホームページサンプル最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社。ホームページサンプル最新技術と自然との調和を目指し調和を目指し調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
					</div>
					<div class="article">
						<img src="/layout/images/photo15.jpg" width="370" height="224" alt="">
						<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な革新的な革新的な技術で世の中を技術で世の中を技術で世の中を動かす企業を目指します。</p>
						<p>ホームページサンプル株式会社。ホームページサンプル最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。ホームページサンプル株式会社。ホームページサンプル最新技術と自然との調和を目指し調和を目指し調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
					</div>
				</div>
			</section>
			<!-- // PROJECT -->
			<!-- LOCATION -->
			<section id="sec06">
				<header>
					<h2><span>LOCATION</span></h2>
				</header>
				<div class="inner">
					<ul class="col2">
						<li>
							<p>〒270-1606<br>印西市平賀学園台-2-18-3</p>
							<p>TEL 070-8328-4383</p>
						</li>
						<li>
							<div id="map">
								<!-- GOOGLE MAP -->
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19384.23899601398!2d140.2433057597414!3d35.74846020377471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022896989205d01%3A0xed610cd3248772a8!2z44CSMjcwLTE2MDYg5Y2D6JGJ55yM5Y2w6KW_5biC5bmz6LOA5a2m5ZyS5Y-w77yS5LiB55uu77yR77yY4oiS77yT!5e0!3m2!1sja!2sjp!4v1641638398920!5m2!1sja!2sjp" allowfullscreen></iframe>
								<!-- // GOOGLE MAP -->
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- // LOCATION -->

			<footer id="footer">
				Copyright(c) 2016 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank">http://f-tpl.com</a><!-- ←クレジット表記を外す場合はシリアルキーが必要です http://f-tpl.com/credit/ -->
			</footer>
		</div>
	</div>

</body>
</html>